.final {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
  div {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    margin-bottom: 10px;
  }
}
